.bloodBanksContainer {
  width: 100%;
  margin-top: 70px;
}

.vectorUp {
  position: fixed;
  /* width: 10%; */
  /* display: inline-block; */
  top: 70px;
  left: 0;
  height: 300px;
  width: 7%;
}

.vectorDown {
  position: fixed;
  /* width: 10%; */
  /* display: inline-block; */
  top: 460px;
  right: 0;
  height: 250px;
  width: 8%;
}

.filterAndBloodBankContainer {
  width: 70%;
  margin: auto;
}

.bloodBanks {
  margin-top: 70px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 480px) {
  .filterAndBloodBankContainer {
    width: 100%;
  }
}
